<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type = "module">
      import * as THREE from "./node_modules/three/build/three.module.js";

      window.onload = function main() { 
        const output = document.createElement('div');
        output.id = 'output'
        document.getElementsByTagName('body')[0].appendChild(output);

        const scene = new THREE.Scene();
        const renderer = new THREE.WebGLRenderer();
        renderer.setClearColor(0xeeeeee);
        renderer.setSize(window.innerWidth, window.innerHeight);
        renderer.shadowMap.enabled = true;

        const planeGeometry = new THREE.PlaneGeometry(60, 20);
        const planeMaterial = new THREE.MeshLambertMaterial({ color: 0xcccccc });
        const plane = new THREE.Mesh(planeGeometry, planeMaterial);

        const cubeGeometry = new THREE.BoxGeometry(4, 4, 4);
        const cubeMaterial = new THREE.MeshLambertMaterial({ color: 0xff0000 });
        const cube = new THREE.Mesh(cubeGeometry, cubeMaterial);

        const sphereGeometry = new THREE.SphereGeometry(4, 4, 4);
        const sphereMaterial = new THREE.MeshLambertMaterial({ color: 0x00ff00 });
        const sphere = new THREE.Mesh(sphereGeometry, sphereMaterial);

        plane.castShadow = true;
        plane.receiveShadow = true;
        cube.castShadow = true;
        cube.receiveShadow = true;
        sphere.castShadow = true;
        sphere.receiveShadow = true;

        plane.position.set(0, 0, 0);
        cube.position.set(15, 0, 15);
        sphere.position.set(0, 0, 15);

        const camera = new THREE.PerspectiveCamera(45, window.innerWidth / window.innerHeight, 0.2, 1000);
        camera.position.set(100, 100, 100);
        camera.lookAt(scene.position);

        const spotLight = new THREE.SpotLight(0xffffff);
        spotLight.position.set(0, 0, 100);
        spotLight.castShadow = true;

        scene.add(plane);
        scene.add(cube);
        scene.add(sphere);
        scene.add(spotLight);


        document.getElementById("output").appendChild(renderer.domElement);

        renderer.render(scene, camera);
      }
    </script>
  </head>
  <style>
    body {
      margin: 0;
      overflow: hidden;
    }
  </style>
  <body>
    <h>HELLOW WORLD!!!</h>
  </body>
</html>